<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Mikrodev</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/stylesheets/font.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/stylesheets/cards.css')}}"
    />
    <link
      href="{{ url_for('static', filename='/vendor/fontawesome-free/css/all.min.css') }}"
    />
    <link
      href="{{ url_for('static', filename='/stylesheets/sb-admin-2.min.css')}}"
      rel="stylesheet"
    />
  </head>
  <body id="page-top" class="customizeBackground">
    <!-- Page Wrapper -->

    <div id="wrapper">
      <!-- Sidebar -->

      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <nav
            class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
            style="
              display: flex;
              align-items: center;
              justify-content: space-between;
            "
          >
            <a href="https://mikrodev.com/">
              <img
                src="{{ url_for('static', filename='/images/mikrodev-logo-striped-removebg-preview.png')}}"
                style="margin-left: -30px"
              />
            </a>
            <div class="input-box alignmentEnd" style="margin-right: 40px">
              <div class="dropdown">
                <button
                  class="btn btn-default dropdown-toggle"
                  type="button"
                  id="dropdownMenu1"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="true"
                >
                  <img
                    src="/static/icons/turkey.png"
                    id="icon"
                    style="width: 30px; height: 30px"
                  />
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li>
                    <a
                      href="{{ url_for(request.endpoint, lang_code='tr') }}"
                      class="dropdown-item"
                      data-value="tr"
                      ><img
                        src="/static/icons/turkey.png"
                        id="icon"
                        style="width: 30px; height: 30px"
                      />Türkçe</a
                    >
                  </li>
                  <li>
                    <a
                      href="{{ url_for(request.endpoint, lang_code='en') }}"
                      class="dropdown-item"
                      data-value="en"
                      ><img
                        src="/static/icons/united-kingdom.png"
                        id="icon"
                        style="width: 30px; height: 30px"
                      />English</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </nav>
          <div class="container-fluid">
            <!-- Page Heading -->
            <div
              class="d-sm-flex align-items-center justify-content-between mb-4"
            >
              <span class="header mb-0 text-gray-800">
                {{_(' Welcome to Mikrodev Device Web Interface.')}}
              </span>
            </div>
            <div class="rowDefPage">
              <!-- Area Chart -->
              <div class="col-xl-12">
                <div class="card shadow mb-4">
                  <!-- Card Header - Dropdown -->
                  <div
                    class="refreshButton card-header py-3 d-flex flex-row align-items-center justify-content-between"
                  >
                    <a
                      class="nav-link collapsed"
                      href="#"
                      data-toggle="collapsed"
                      data-target="#card-body"
                      aria-expanded="false"
                      aria-controls="card-body"
                      style="color: #e53935"
                    >
                      <span>
                        {{_('No password set.Please configure a default password
                        to protect the web interface!')}}</span
                      >
                    </a>
                  </div>
                  <!-- Card Body -->
                  <div
                    id="card-body"
                    class="card-body"
                    aria-labelledby="headingTwo"
                    data-parent="#accordionSidebar"
                  >
                    <div class="container">
                      <div class="h5 mb-0 font-weight-bold text-gray-800">
                        <form
                          action="{{url_for('multilingual.updateDefaultUser')}}"
                          method="POST"
                        >
                          <span class="details"> {{_('Username')}}</span>
                          <div class="input-box alignmentCenter">
                            <input
                              class="addUserInputs inputsSameParameter"
                              type="text"
                              name="newUsername"
                              value="{{EditUserInfo[0]}}"
                              required
                            />
                          </div>
                          <span class="details">{{_('Create Password')}}</span>
                          <div class="input-box alignmentEnd">
                            <input
                              class="addUserInputs inputsSameParameter"
                              type="password"
                              name="newUserPassword"
                              value="{{EditUserInfo[1]}}"
                              id="show_hide_password"
                              onkeyup="check();"
                              required
                            />
                            <div class="shicon1">
                              <a type="button" class="" name="dynamic">
                                <img
                                  src="/static/icons/eye-solid-removebg-preview.png"
                                  alt=""
                                  class="imageIcon"
                                />
                              </a>
                            </div>
                          </div>
                          <span class="details">{{_('Confirm')}}</span>
                          <div class="input-box alignmentEnd">
                            <input
                              class="addUserInputs inputsSameParameter"
                              type="password"
                              name="newUserPassword"
                              value="{{EditUserInfo[1]}}"
                              id="confirm_password"
                              onkeyup="check();"
                              required
                            />
                          </div>
                          <span class="details">Mail</span>
                          <div class="input-box alignmentCenter">
                            <input
                              class="addUserInputs inputsSameParameter"
                              type="text"
                              name="newUserMail"
                              value=""
                            />
                          </div>
                          {% with messages=get_flashed_messages() %} {% if
                          messages %}
                          <div class="input-box">
                            <div class="alert alert-danger" id="danger-alert">
                              {{messages[0]}}
                            </div>
                          </div>
                          {% endif %} {% endwith %}
                          <div class="input-box alignmentEnd">
                            <button
                              type="submit"
                              class="btn btn-primary applyButton"
                              id="apply"
                              disabled="false"
                            >
                              {{_('Apply')}}
                            </button>
                          </div>
                        </form>
                        <span id="statusSpan" style="display: none"
                          >{{_('Status')}}</span
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <footer class="sticky-footer">
            <div class="my-auto">
              <div class="copyright text-center my-auto">
                <span>Copyright &copy; Mikrodev 2022</span>
              </div>
            </div>
          </footer>
        </div>
      </div>
    </div>
  </body>
  <script>
    window.setTimeout(function () {
      $(".alert")
        .fadeTo(500, 0)
        .slideUp(500, function () {
          $(this).remove();
        });
    }, 5000);
  </script>
  <script src="{{url_for('static', filename='/vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{url_for('static', filename='/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{url_for('static', filename='/vendor/jquery-easing/jquery.easing.min.js')}}"></script>
  <script src="{{url_for('static', filename='/javascripts/laguageSelector.js')}}"></script>
  <script src="{{url_for('static', filename='/javascripts/shicon.js')}}"></script>
  <script src="{{url_for('static', filename='/javascripts/passwordConfirm.js')}}"></script>
</html>
