{% extends "base.html" %} {% block content %}
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">{{_('Firewall-Edit Filtering Rule')}}</h1>
  </div>

  <!-- Content Row -->
  <div class="row">
    <!-- Area Chart -->
    <div class="col-xl-12">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div
          class="refreshButton card-header py-3 d-flex flex-row align-items-center justify-content-between"
        >
          <a
            class="nav-link collapsed"
            href="#"
            data-toggle="collapse"
            data-target="#card-body-table"
            aria-expanded="true"
            aria-controls="card-body-table"
          >
            <img
              src="/static/icons/plus.png"
              alt=""
              style="width: 20px; height: 20px"
            />
            <span> {{_('Add Rule')}}</span>
          </a>
          <img
            src="/static/icons/chevron-down-solid-removebg-preview.png"
            alt=""
            class="imageIcon"
          />
        </div>
        <!-- Card Body -->
        <div
          id="card-body"
          class="card-body-table collapsed"
          aria-labelledby="headingTwo"
          data-parent="#accordionSidebar"
        >
          <div class="container">
            <div
              class="h5 mb-0 font-weight-bold text-gray-800"
              id="mainContainer"
            >
              <form
                action="{{url_for('multilingual.filteringEditButtonRules')}}"
                method="POST"
              >
                <div class="input-box">
                  <span class="details"> {{_('Name')}}</span>
                  <input
                    class="addUserInputs inputsSameParameter"
                    type="text"
                    name="filterName"
                    autocomplete="off"
                    value="{{filters[0]}}"
                  />
                </div>
                <div class="input-box">
                  <span class="details"> {{_('Protocol')}}</span>
                  <select name="protocol" id="option" class="btn btn-secondary">
                    <option name="protocolOption" value="TCP">TCP</option>
                    <option name="protocolOption" value="UDP">UDP</option>
                    <option name="protocolOption" value="icmp">ICMP</option>
                    <option name="protocolOption" value="ALL">ALL</option>
                  </select>
                </div>

                <div class="input-box" id="sourceAddress">
                  <span class="details"> {{_('Source Adress')}}</span>
                  <input
                    class="addUserInputs inputsSameParameter"
                    type="text"
                    name="sourceAdress"
                    autocomplete="off"
                    value="{{filters[2]}}"
                  />
                </div>
                <div class="input-box" id="sourcePort">
                  <span class="details">{{_('Source PORT ')}}</span>
                  <input
                    class="addUserInputs inputsSameParameter"
                    type="number"
                    name="sourcePort"
                    autocomplete="off"
                    value="{{filters[3]}}"
                  />
                </div>

                <div class="input-box" id="afterElement">
                  <span class="details"> {{_('Destination Adress')}}</span>
                  <input
                    class="addUserInputs inputsSameParameter"
                    type="text"
                    name="destinationAdress"
                    autocomplete="off"
                    value="{{filters[4]}}"
                  />
                </div>
                <div class="input-box" id="destinationPort">
                  <span class="details"> {{_('Destination PORT')}}</span>
                  <input
                    class="addUserInputs inputsSameParameter"
                    type="number"
                    name="destinationPort"
                    id="destInput"
                    autocomplete="off"
                    value="{{filters[5]}}"
                  />
                </div>

                <div class="input-box">
                  <span class="details"> {{_('Action')}}</span>
                  <select
                    name="filterAction"
                    id="option"
                    class="btn btn-secondary"
                  >
                    <option name="protocolOption" value="ACCEPT">ACCEPT</option>
                    <option name="protocolOption" value="DROP">DROP</option>
                  </select>
                </div>
                <button
                  type="submit"
                  class="applyButton btn btn-primary"
                  name="EditFilter"
                  value="{{filters[0]}}"
                >
                  {{_('Edit')}}
                </button>

                {% with messages=get_flashed_messages() %} {% if messages %}
                <div class="input-box">
                  <div
                    class="alert alert-danger addUserInputs"
                    id="danger-alert"
                  >
                    {{messages[0]}}
                  </div>
                </div>
                {% endif %} {% endwith %}
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{{url_for('static', filename='/javascripts/filterPagecontroller.js')}}"></script>

{% endblock content %}
