{% extends "base.html" %} {% block content %}
<div class="container-fluid">
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">{{_('Interfaces-GSM')}}</h1>
  </div>
  <div class="row">
    <!-- Area Chart -->
    <div class="col-xl-12">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div
          class="refreshButton card-header py-3 d-flex flex-row align-items-center justify-content-between"
        >
          <h6 class="m-0 font-weight-bold text-primary">GSM</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="container">
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              <div class="input-box alignmentEnd">
                <select
                  class="btn btn-secondary"
                  onchange="location = this.value;"
                >
                  <option
                    class=""
                    value="{{url_for('multilingual.ipSettingsGSM')}}"
                  >
                    GSM
                  </option>
                  <option
                    class=""
                    value="{{url_for('multilingual.ipSettingsEth0')}}"
                  >
                    ETH0
                  </option>
                  <option
                    class=""
                    value="{{url_for('multilingual.ipSettingsEth1')}}"
                  >
                    ETH1
                  </option>
                  <option
                    class=""
                    value="{{url_for('multilingual.ipSettingsWlan')}}"
                  >
                    WLAN
                  </option>
                </select>
              </div>
              <form action="{{url_for('multilingual.ipSettingsGSM')}}" method="POST">
                <div class="input-box">
                  <span class="details">APN</span>
                  <input
                    type="text"
                    placeholder=""
                    name="APN"
                    class="inputsSameParameter addUserInputs"
                    value="{%if dataType1!=None%}{{ dataType1[0]['GprsApn']}}{%endif%}"
                    required
                  />
                </div>
                <div class="input-box">
                  <span class="details"> {{_('Name')}}</span>
                  <input
                    type="text"
                    name="Name"
                    class="inputsSameParameter addUserInputs"
                    value="{%if dataType1!=None%}{{ dataType1[0]['GprsName']}}{%endif%}"
                    required
                  />
                </div>
                <div class="input-box">
                  <span class="details"> {{_('Password')}}</span>
                  <input
                    type="text"
                    name="Password"
                    class="inputsSameParameter addUserInputs"
                    value="{%if dataType1!=None%}{{ dataType1[0]['GprsPssw']}}{%endif%}"
                    required
                  />
                </div>

                <button
                  type="submit button"
                  class="applyButton btn btn-primary"
                >
                  {{_('Apply')}}
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Area Chart -->
  </div>
</div>

{% endblock content %}
