{% extends "base.html" %} {% block content %}
<div class="container-fluid">
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">{{_('Firewall-Port Forwarding')}}</h1>
  </div>
  <div class="row">
    <!-- Area Chart -->
    <div class="col-xl-12">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div
          class="refreshButton card-header py-3 d-flex flex-row align-items-center justify-content-between"
        >
          <a
            class="nav-link collapsed"
            href="#"
            data-toggle="collapse"
            data-target="#card-body"
            aria-expanded="true"
            aria-controls="card-body"
          >
            <img
              src="/static/icons/plus.png"
              alt=""
              style="width: 20px; height: 20px"
            />
            <span> {{_('Add Rule')}}</span>
          </a>
          <img
            src="/static/icons/chevron-down-solid-removebg-preview.png"
            alt=""
            class="imageIcon"
          />
        </div>
        <!-- Card Body -->
        <div
          id="card-body"
          class="card-body-table collapsed"
          aria-labelledby="headingTwo"
          data-parent="#accordionSidebar"
        >
          <div class="container">
            <div class="container">
              <div
                class="h5 mb-0 font-weight-bold text-gray-800"
                id="mainContainer"
              >
                <form
                  action="{{url_for('multilingual.portForwarding')}}"
                  method="POST"
                >
                  <div class="input-box">
                    <span class="details">{{_('Name')}}</span>
                    <input
                      class="addUserInputs inputsSameParameter"
                      type="text"
                      name="portForwardingName"
                      autocomplete="off"
                      required
                    />
                  </div>
                  <div class="input-box" id="sourceAddress">
                    <span class="details">{{_('Service Port')}}</span>
                    <input
                      class="addUserInputs inputsSameParameter port"
                      type="text"
                      name="portForwards_DestinationPort"
                      autocomplete="off"
                      maxlength="11"
                      required
                    />
                  </div>

                  <div class="input-box" id="afterElement">
                    <span class="details"
                      >{{_('Internal Destination Adress(X.X.X.X:port)')}}</span
                    >
                    <input
                      class="addUserInputs inputsSameParameter ipInput"
                      type="text"
                      name="portForwards_ToDestinationAdress"
                      autocomplete="off"
                      maxlength="22"
                      required
                    />
                  </div>
                  {% with messages=get_flashed_messages() %} {% if messages %}
                  <div class="input-box">
                    <div
                      class="alert alert-danger addUserInputs"
                      id="danger-alert"
                    >
                      {{messages[0]}}
                    </div>
                  </div>
                  {% endif %} {% endwith %}
                  <button type="submit" class="applyButton btn btn-primary">
                    {{_('Add')}}
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- Area Chart -->
    <div class="col-xl-12">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div
          class="refreshButton card-header py-3 d-flex flex-row align-items-center justify-content-between"
        >
          <a
            class="nav-link collapsed"
            href="#"
            data-toggle="collapse"
            data-target="#card-body-table"
            aria-expanded="true"
            aria-controls="card-body-table"
          >
            <img
              src="/static/icons/table-cells-large-solid-removebg-preview.png"
              style="width: 20px; height: 20px"
            />
            <span>{{_('Port Forwards')}}</span>
          </a>
          <img
            src="/static/icons/chevron-down-solid-removebg-preview.png"
            alt=""
            class="imageIcon"
          />
        </div>
        <!-- Card Body -->
        <div
          id="card-body-table"
          class="card-body collapsed"
          aria-labelledby="headingTwo"
          data-parent="#accordionSidebar"
        >
          <div class="container">
            <table class="table table-hover table-responsive-md table-flex-md table-flex">
              <thead>
                <tr>
                  <th scope="col" style="padding-right: 200px">
                    {{_('Name')}}
                  </th>
                  <th scope="col">{{_('Service Port ')}}</th>
                  <th scope="col">{{_('To Destination Address')}}</th>
                  <th scope="col">-</th>
                </tr>
              </thead>
              <tbody>
                {% for filterRule in filters%}
                <tr>
                  <th>{{filterRule[0]}}</th>
                  <td>{{filterRule[1]}}</td>
                  <td>{{filterRule[2]}}</td>
                  <td>
                    <form
                      action="{{url_for('multilingual.editPortForwards')}}"
                      method="POST"
                    >
                      <button
                        type="submit button"
                        class="btn btn-default"
                        name="EditPortForwards"
                        value="{{filterRule[3]}}"
                      >
                        <img
                          src="/static/icons/pen-to-square-solid.png"
                          alt=""
                          class="imageIcon"
                        />
                      </button>
                    </form>
                    <form
                      action="{{url_for('multilingual.portForwardingDelete')}}"
                      method="POST"
                    >
                      <button
                        type="submit button"
                        class="btn btn-default"
                        name="DeletePortForwardRule"
                        value="{{filterRule[3]}}"
                      >
                        <img
                          src="/static/icons/trash-can-solid-removebg-preview.png"
                          alt=""
                          class="imageIcon"
                        />
                      </button>
                    </form>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  window.setTimeout(function () {
    $(".alert")
      .fadeTo(500, 0)
      .slideUp(500, function () {
        $(this).remove();
      });
  }, 5000);
</script>
{% endblock content %}
