{% extends "base.html" %} {% block content %}
<link rel="stylesheet" href="/static/stylesheets/uploadProject.css" />
<link
  rel="stylesheet"
  href="{{url_for('static', filename='/stylesheets/font.css')}}"
/>
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-5">
    <h1 class="h2 mb-2 text-gray-800 title">{{_('Firmware Update')}}</h1>
    <hr class="sidebar-divider my-0" />
  </div>
  <div class="drag-area">
    <div class="icon">
      <img src="/static/icons/firmwareUpdate.png" alt="" />
    </div>
    <header>{{_('Select Firmware File')}}</header>
    <form
      action="uploadFirmware"
      method="POST"
      enctype="multipart/form-data"
      id="form"
    >
      <div class="input-groupUpload col">
        <input
          type="file"
          onchange="validateSize(this)"
          id="file"
          name="firmware"
          class="inputandbutton form-control firmware"
          autocomplete="off"
          accept=".mx3"
          required
        />
        <span class="input-group-btn">
          <button
            type="submit"
            name="index"
            class="upload-button btn"
            id="upload-buttonF"
            disabled="false"
          >
            {{_('Upload')}}
          </button>
        </span>
      </div>
    </form>
  </div>
</div>
<script src="/static/javascripts/firmwarepage.js"></script>
<script src="{{url_for('static', filename='/javascripts/public.js')}}"></script>
{% endblock content %}
