<div class="containerBody" id="wlanContainer">
  <span id="statuswlan"
    >{%if dataType1 != None %}Status:{{netstatus[2]}}{%endif%}</span
  >
  <span>
    {%if dataType1 != None %}IP:{{dataType1[0]["WifiLocalIp"]}} {%endif%}</span
  >
  <span
    >{%if dataType1 != None %}NETMASK:/{{dataType1[0]["Netmask2"]}}
    {%endif%}</span
  >
  <span
    >{%if dataType1 != None %}GW:{{dataType1[0]["WifiGateway"]}} {%endif%}</span
  >
  <script>
    var wlan0Status = document.getElementById("statuswlan").innerHTML;
    if (wlan0Status.includes("Status:UP")) {
      try {
        document.getElementById("loading").remove();
      } catch {}
      document.getElementById("wlanIntfContainer").style.borderColor = "green";
    } else if (wlan0Status.includes("Status:DOWN")) {
      try {
        document.getElementById("loading").remove();
      } catch {}
      document.getElementById("wlanIntfContainer").style.borderColor = "red";
    } else {
      document.getElementById("wlanIntfContainer").style.borderColor = "gray";
      document.getElementById("loading").style.visibility = "visible";
      document.getElementById("wlanContainer").remove();
    }
  </script>
</div>
