<ul class="navbar-nav ml-auto">
  <div class="topbar-divider d-none d-sm-block"></div>

  <!-- Nav Item - User Information -->
  <li class="nav-item dropdown no-arrow">
    <a
      class="nav-link dropdown-toggle"
      href="#"
      id="userDropdown"
      role="button"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <span class="mr-2 d-none d-lg-inline text-gray-600 small"
        >{% if userInfo != None %}{{userInfo}}{% endif %}</span
      >
      <img
        src="/static/icons/user-solid-removebg-preview.png"
        alt=""
        class="imageIcon"
      />
    </a>
    <!-- Dropdown - User Information -->
    <div
      class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
      aria-labelledby="userDropdown"
    >
      <a class="dropdown-item" href="#">
        <img
          src="/static/icons/user-solid-removebg-preview.png"
          alt=""
          class="imageIcon responsiveAlign"
        />
        <span class="userInfoSpan">Profile</span>
      </a>
      <div class="dropdown-divider"></div>
      <a
        class="dropdown-item"
        href="#"
        data-toggle="modal"
        data-target="#logoutModal"
      >
        <img
          src="/static/icons/7124045_logout_icon.png"
          alt=""
          class="imageIcon responsiveAlign"
        />
        <span class="userInfoSpan">Logout</span>
      </a>
    </div>
  </li>
</ul>
